.dashboard-left-nav {
    list-style: none;
}

.profile-image {
    background: url('http://cdn1.iconfinder.com/data/icons/round-simple-social-icons/58/facebook.png');
    width: 58px;
    height: 58px;

    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    filter: brightness(100%);
}

.profile-image:hover{
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    filter: brightness(70%);
}

.jcuLink-dash-icon {
    width: 16px;
}