<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr/>
                <div class="jcuLink-social-links text-center"> <!-- Start jcuLinks-social-links -->
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item"><a href="https://www.facebook.com/jamescookuniversity"><i
                                        class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/jcu"><i
                                        class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/school/james-cook-university"><i
                                        class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <% let year = (new Date()).getFullYear() %>
                    <span>&copy;<%= year %> <a href="/dashboard">jcucareerlink.com.au</a></span>
                </div> <!-- End jcuLinks-social-links -->
            </div>
        </div>
    </div>
</footer>