<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body">
            <%- include nav.ejs %>
            <h1 class="text-center mb-3">Individual Listing</h1>
            <% include ./partials/messages %>
            <p>Pommy ipsum nigh because there was nothing on the gogglebox got a lot of brass up at the crack of dawn treacle what a mug, flog a dead horse trouble and strife what a load of cobblers a right toff odds and sods guinness. Working class had a barney with the inlaws mush on his bill whizz golly, scatterbrained munta doing my nut in a right royal knees up. Full English breakast blummin' rubbish one would like nuthouse old girl knee high to a grasshopper i'll be a monkey's uncle by 'eck love, ask your mother if off t'pub pillock jolly good conked him one on the nose a right royal knees up chaps, 221B Baker Street black pudding off the hook conkers slappers they can sod off. </p>

            <p>Pikey a cracking taking the mick bit of a div, jellied eels. </p>
        </div>
        <%- include footer.ejs %>
    </div>
</div>