<!DOCTYPE html>
<html lang="en">
<style>
    table{

    }
    td,th{
        border : 1px solid #dddddd;
        text-align: left;
        font-size: 10px;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: aliceblue;
    }
</style>
<body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include nav.ejs %>
            <h1 class="text-center mb-3">Messages</h1>
            <% include ./partials/messages %>
            <p>
                <h1>Your messages</h1>
            <table>
                <tr>
                    <th>From</th>
                    <th>Date</th>
                    <th>Message</th>
                </tr>
                <tr>
                    <th>Bilbo Baggins</th>
                    <th>A long time ago</th>
                    <th>Hey Gandalf, just sending this to let you know that I've found a ring</th>
                </tr>
            </table>
            </p>
            <p>
                <h1>Send a message</h1>
            <form action="/messageManager/sendMessage" method="post">
            Recipient : <input type="text" name="recipient" value="">
            <br>
            Message : <input type="text" name="content" value ="">
                <br>
                <button>Send message</button>
            </form>
            </p>
            <form action="/notificationManager/trigger" method="get">
            <button>Get a notification</button>
            </form>
        </div>
        <%- include footer.ejs %>
    </div>
</div>
</body>
</html>