<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/images/jcuLogo30x40.png" alt="The JCU logo"><a class="navbar-brand" href="/">Career Link</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/listings">Listings</a>
            <a class="nav-item nav-link" href="/messages">Messages</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link" href="/help">Help</a>
        </div>
    </div>
</nav>