<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body">
            <%- include nav.ejs %>
            <h1 class="text-center mb-3">Resume</h1>
            <% include ./partials/messages %>
            <div class="text-center col-md-12 mb-3">
                <img class="img-fluid" src="/images/resume.jpg" alt="A Resume">
            </div>
            <p>Here you can upload the latest copy of your resume or curriculum vitae, which can be viewed by other <i>JCU
                    Career Link</i>
                users.</p>
            <p>Please ensure your resume or curriculum vitae is in a commonly acceptable format before attempting to
                upload.</p>
            <form action="/resume" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <input type="file" accept=".doc, .docx, .rtf, .odt, .ott, .pdf" id="resumeToUpload"
                           name="resumeToUpload"
                           class="form-control-file" placeholder="Select file to upload"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Upload</button>
            </form>
            <hr/>
            <div class="jcuLink-social-links text-center"> <!-- Start jcuLinks-social-links -->
                <ul class="list-inline list-unstyled">
                    <li class="list-inline-item"><a href="https://www.facebook.com"><i
                                    class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com"><i
                                    class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https:///www.linkedin.com"><i
                                    class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div> <!-- End jcuLinks-social-links -->
        </div> <!-- End card-body -->
        <%- include footer.ejs %>
    </div>
</div>