<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body">
            <%- include nav.ejs %>
            <h1 class="text-center mb-3">Edit Me!</h1>
            <% include ./partials/messages %>

            <%= user._id %>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
            <%- include footer.ejs %>
        </div> <!-- End card-body -->
    </div>
</div>