<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body text-center">
            <h1><img class="img-fluid" src="/images/jcuLogo.png" alt="The JCU logo"></h1>
            <h1>Career Link</h1>
            <% include ./partials/messages %>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
        <%- include footer.ejs %>
    </div>
</div>